{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
form{
        height:50%;
        width:20%;
        margin-left:40%;
        margin-top:10%;
        background-color: rgba(20,20, 80, .3);
        position:absolute;
        z-index:1;
        border-radius:40px;
      }
      .input{
        width:70%;
        margin-left:15%;
      }
            .pair{
        margin-top:15%;
      }
      .line{
        margin-top:5%
      }
    </style>

</head>
<body>
  <div class="contain" id="display">
    <img src = {%static 'Edu/Edu_bg.jpg'%} style="position:absolute; height:100%;width:100%;z-index:0;opacity:0.5"></img>
     <img src = {%static 'Edu/Edu_bg2.jpg'%} style="position:absolute; height:100%;width:100%;z-index:0;opacity:0.5"></img>
     <img src = {%static 'Edu/Edu_logo.png'%} style="position:absolute;z-index:1;top:20px;left:40px;width:200px;opacity:0.8"></img>
   <form id = "logging_employer" method="post">
      <div class="line">
         <HR size = 20 width = 80%>
       </div>
       <div class="pair">
         <input class = "input" type="text" name="username" placeholder="UserName......">
       </div>
      <div class="pair">
         <input class = "input" type="password" name="password" placeholder="Password......">
       </div>
        <div class="pair">
         <input class = "input" type="submit" name="Login" value="Login..." style="background:blue;border:blue;color:white;">
       </div>
        {% csrf_token %}
    </form>
  </div> 
</body>
<script>
window.onload = function(){
      // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss:p3-websockets-linerking-906870065650856.codeanyapp.com/ws/draw');
    socket.onopen = function(){
      socket.send("start");
    }
// triggered when receiving a message from the server
socket.onmessage = function(receivedMessage) {

};


// use when sending a message to the server
// to be broadcasted to all clients, please add a delay
// var t=setTimeout(function(){socket.send("emmm")},1000);


// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
}



</script>
</html>


