 {% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>manual upload</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      .scroll_box{
        position:absolute;
        top:70px;
        z-index:2;
        width:200px;
        background:rgba(100, 150, 250, .7);
        overflow-y:scroll;
        height:80%;
        text-align:center;
      }
      .contain{
        width:100%;
        height:100%;
        position:absolute;
      }
       #name{
        background:rgba(100, 150, 250, .7);
        float:left;
        width:100%;
      }
      .infor{
        margin-top:20%;
        margin-left:40%;
        width:40%;
        height:10%;
      }
    </style>

</head>
<body>
  <div class="contain" id="display">
    <img src = {%static 'school/school_bg.jpg'%} style="position:absolute; height:100%;width:100%;z-index:-1;"></img>
     <img src = {%static 'school/horizontal_logo.png'%} style="position:absolute;width:300px;margin:20px;"></img>
     <div class="scroll_box" id = "scroll_box">
         <div id="name">Name</div>
     </div>
      <div class = "infor">
       <div class="pair" style="position:float">
         <div id="thename"> name </div>
         <input class = "input" type="text" id= "grade" name="username" style="width:80%;border-radius:40px;">
         <input id = "submmit" type="submit" name="Login" value="上传">
          </div>
          </div>
      </div> 
  </div>
</body>
<script>
window.onload = function(){
var course =   { 
state:"web", 
action:"get", 
infor:"studentlist", 
target:"course", 
cource:{{course|safe}} 
};
var search = { 
state:"web", 
action:"get", 
infor:"student", 
target:"all",
  
}; 

 var change =   { 
state:"web",
action:"change", 
target:"grade", 
infor:"student", 
course:{{course|safe}} 
};  

function NameFunction(){
          alert(this.innerHTML);
          studentlist.name = this.innerHTML;
          socket.send(JSON.stringify(studentlist));
          var thename = document.getElementById("thename");
          thename.innerHTML = "name:" + this.innerHTML
        };
var submmit = document.getElementById("submmit");
submmit.onclick = function(){
  var grades = document.getElementById("grade");
  alert(grades.value);
  change.grade = grades.value;
  socket.send(JSON.stringify(change));
}

  

    var url = window.location.href;
    var socket = new WebSocket('wss:edu-chain-906870065650856.codeanyapp.com/ws/draw');
    socket.onopen = function(){
    socket.send(JSON.stringify(studentlist));
    }
// triggered when receiving a message from the server
socket.onmessage = function(receivedMessage) {

var data = JSON.parse(receivedMessage.data)
    if (data.infor == "studentlist" && data.result){
      var names = data.result;
      var nLen = names.length;
      var scroll_box = document.getElementById("scroll_box");
      for (var i = 0; i < nLen; i++) {
        var opt = document.createElement("button");
        opt.type = "button"
        opt.classList.add (names[i]);
        opt.classList.add ("btn");
        opt.id = "name";
        opt.innerHTML = names[i];
        scroll_box.appendChild(opt);
        opt.onclick = NameFunction;
      }
    }    
};


// use when sending a message to the server
// to be broadcasted to all clients, please add a delay
// var t=setTimeout(function(){socket.send("emmm")},1000);


// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
}



</script>
</html>