{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Student infro</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      #refreshboard{
        position:absolute;
        height: 70%;
        width:60%;
        margin-left:20%;
        margin-top:15%;
      }
      .tage{
        color:darkblue;
        margin-top:30px;
        text-align:center;
        font-size:35px;
      }
    </style>
    
</head>
<body>
  <div class="contain" id="display">
     <img src = {%static 'school/school_bg.jpg'%} style="position:absolute; height:100%;width:100%;z-index:-1;"></img>
     <img src = {%static 'school/horizontal_logo.png'%} style="position:absolute;width:300px;margin:20px;"></img>
    <div id = "refreshboard">
      <div id="name" class = "tage"></div>
      <div id="id" class = "tage"></div>
      <div id="year" class = "tage"></div>
      <div id="major" class = "tage"></div>
      <div id="course" class = "tage"></div>
      <div id="teacher" class = "tage"></div>
      <div id="grade" class = "tage"></div>
    </div>
  </div> 
</body>

<script>
window.onload = function(){
  var search = { 
state:"web", 
action:"get", 
infor:"student", 
target:"all",
name:{{infor|safe}}
} 

      // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss:edu-chain-906870065650856.codeanyapp.com/ws/draw');
    socket.onopen = function(){
      socket.send(JSON.stringify(search));
    }
// triggered when receiving a message from the server
socket.onmessage = function(receivedMessage) {
  var data = JSON.parse(receivedMessage.data);
  var name = document.getElementById("name");
  name.innerHTML= "Name: " + data.name;
  var id = document.getElementById("id");
  id.innerHTML="Id: " + data.id;
  var year = document.getElementById("year");
  year.innerHTML="Year: " + data.year;
  var major = document.getElementById("major");
  major.innerHTML="Major: " + data.major;
  var course = document.getElementById("course");
  course.innerHTML="Course: "+ data.course;
  var teacher = document.getElementById("teacher");
  teacher.innerHTML="Teacher: " + data.teacher;
  var grade = document.getElementById("grade");
  grade.innerHTML="Grade: " + data.grade;
};


// use when sending a message to the server
// to be broadcasted to all clients, please add a delay
// var t=setTimeout(function(){socket.send("emmm")},1000);


// notify console if socket closes unexpectedly
socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};
}



</script>
</html>