{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Employer_search</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
      .contain{
        width:100%;
        height:100%;
        position:absolute;
      }
      form{
        margin-top:20%;
        margin-left:30%;
        width:40%;
        height:10%;
      }
      .submmit{
        background:darkblue;
        color:white;
        width:19%;
        border-radius:40px;
      }
    </style>

</head>
<body>
   <div class= "contain">
     <img src = {%static 'school/school_bg.jpg'%} style="position:absolute; height:100%;width:100%;z-index:-1;"></img>
     <img src = {%static 'school/horizontal_logo.png'%} style="position:absolute;width:300px;margin:30px;"></img>
   <form id = "employer_search" method="post" action="../choose_way/">
       <div class="pair" style="position:float">
         <select name="course" style="width:80%;border-radius:40px;">
  <option value="csc1001">csc1001</option>
  <option value="csc3001">csc3001</option>
  <option value="csc3010">csc3010</option>
</select>
         <input class = "submmit" type="submit" name="Login" value="查询">
       </div>
        {% csrf_token %}
    </form>
    </div>
</body>
<script>
window.onload = function(){

}



</script>
</html>